.task {
    width: 100%;
    display: block;
    padding: 10px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    &:hover {
      background: #fff;
      border-radius: 5px;
    }

    &:first-child{
		margin-bottom: 40px;
	}
    
    &:last-child{
		margin-top: 40px;
	}

  &.active{
    background: #fff;
    border-radius: 5px;
  }

  &.grey {
    color: #767676;
  }
}

.close-folder {
  position: absolute;
  right: 30px;
  color: #E3E3E3;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;

  span {
    font-size: 20px;
  }
}

.done {
  text-decoration-line: line-through;
}